//::: COLOR REFERENCE :::::::::::::::::::::::::::::

// A few default color values that all sites should have
$white: #FFF;
$black: #000;
$charcoal: #333;
$orange: #e74400;
$light-grey: #DDD;


//::: ELEMENTS ::::::::::::::::::::::::::::::::::::

	// set the colors on the page
	html {
		color: $orange;
        background: $black;
	}
	body {
		color: $light-grey;
        background: $black;
	}

	// Customize the look of selected text -- feel free to change the colors
	::-moz-selection { // Mozilla
       background-color: $orange;
       color: $white;
	}
	::selection { // Safari
       background-color: $orange;
       color: $white;
	}

	// Links
	a:link, a:visited {
        color: $orange;
    }
	a:hover, a:active, a:focus {
        color: $light-grey;
    }