body {
/*  background-image: url(static/images/wallpaper1.jpg);*/
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-color: #e1e1e1;
  font-family: Orbitron, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #222;
  border: 1px solid gold;
  border-radius: 4px;
  box-shadow: inset 0px 39px 0px -24px #333;
  color: #fff;
  cursor: pointer;
  font-family: Orbitron;
  padding: 8px 15px;
  text-shadow: 1px 1px 0px #000;
  width: 200px;
}

input {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: gold;
  font-size: 16px;
  font-weight: 100;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

input:invalid {
  border-color: #f00;
}

input:valid {
  /*border-color: #fff;*/
}

textarea {
  background-color: rgba(0,0,0,0.4);
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: gold;
  font-family: poppins;
  font-size: 16px;
  height: 100px;
  line-height: 21px;
  margin-bottom: 4px;
  padding: 10px;
  width: 100%;
}

table {
  background-color: rgba(0,0,0,0.4);
  border-collapse: collapse;
  color: #fff;
  margin-top: 50px;
  width: 100%;
}

table, th, td {
  border: 1px solid #444;
}

td {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
}

a {
  color: #fff;
  text-decoration: underline;
}

.event-feed {
  width: 300px;
  position: absolute;
  padding: 10px;
}

.event-feed .event {
  color: #999;
  padding-bottom: 10px;
}

.logo-eth-newyork {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.logo-skale {
  position: absolute;
  bottom: 90px;
  right: 20px;
  width: 100px;
}

.game-wrapper {
  background: rgba(0, 0, 0, 0.3);
  /*border-top: 6px solid gold;*/
  border-bottom: 10px solid #000;
  width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

[data-group] {
  display: none;
}

.hidden {
  display: none;
}

.treasure {
  background-image: url(static/images/chest.svg);
  width: 100%;
  height: 200px;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.game-name {
  text-align: center;
  font-size: 50px;
  color: #333;
  font-weight: 700;
}

.game-description {
  color: #fff;
  padding: 30px;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
}

.gameboard {
  height: 400px;
  margin-bottom: 50px;
  position: relative;
}

.grid {
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.grid-0 {
  bottom: 0;
}

.grid-1 {
  bottom: 180px;
  transform: rotate(120deg);
  left: -210px;
}

.grid-2 {
  bottom: 180px;
  transform: rotate(240deg);
  left: 210px;
}

.grid-0 [data-position="1,0"] {
  background-color: #f93;
}

.grid-1 [data-position="1,0"] {
  background-color: #333;
}

.grid-2 [data-position="1,1"] {
  background-color: #fff;
}

.reward {
  height: 25px;
  width: 25px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 177px;
  left: 377px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.row div {
  background: rgba(0,0,0,0.2);
  box-shadow: 0px 0px 0px 1px #777;
  display: inline-block;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  line-height: 30px;
}

.row div[data-position] {
  cursor: pointer;
}

.row div[data-position]:hover {
    border: 1px solid #f93;
}

.action-selection div {
  padding-left: 10px;
  padding-bottom: 5px;
}

.action-selection button.active {
  opacity: 1;
}

.action-selection button {
  opacity: 0.5;
}

.glow {
  /*text-shadow: 0 0 2px #2b002b, 0 0 10px #ff0, 0 0 5px #ffc;*/
  color: #e1e1e1;
}

.action-item {
  border-bottom: 1px dashed #555;
  clear: both;
  margin-top: 30px;
  padding-bottom: 30px;
}

.dig-selection {

}

.dig-selection .slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

.dig-selection .slider-wrapper input {
  background: none;
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}

.shovel-wrapper {
  border-bottom: 1px dashed gold;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.shovel-wrapper button.dig {
  background-color: #000;
  border: 1px solid gold;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 100px;
  margin-top: 20px;
  padding: 12px 16px;
  position: relative;
  text-align: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
  background: -moz-linear-gradient(top, #222, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000');
}

.shovel-wrapper button.dig .cta-wrapper {
  position: absolute;
  top: 25%;
  right: 10%;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
  font-weight: 100;
}

.shovel-wrapper .shovel {
  background-image: url(static/images/shovel.svg);
  background-repeat: no-repeat;
  background-position: 10% center;
  background-size: 50px;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.shovel-wrapper button.dig .cta {
  font-weight: 900;
  font-size: 16px;
}

.shovel-wrapper .left {
  float: left;
}

.shovel-wrapper .right {
  float: right;
}

.shovel-wrapper .min-max button {
  padding: 6px;
  width: 49%;
}

.prize-chart {
  color: #fff;
  text-align: center;
}

.prize-chart h2 {
  font-weight: bold;
}

.prize-chart h3 {
  padding-top: 20px;
  font-size: 14px;
}

.prize-chart .prizes {
  color: gold;
  font-weight: bold;
}

.prize-chart .prizes div {
  padding-bottom: 4px;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper button {
  font-size: 14px;
  font-weight: 900;
}

.vanity-name button {
  font-size: 14px;
  font-weight: 900;
  padding: 8px;
}

button .price {
  font-size: 13px;
  font-weight: 100;
}

button .caption {
  font-size: 11px;
  font-weight: 100;
  padding-top: 4px;
}

.image-preview img {
  width: 100%;
}

.ground {
  border-bottom: 1px solid #ffc;
}

/*.event-feed .event {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #555;
  border-radius: 4px;
  color: #ccc;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  line-height: 30px;
  position: relative;
  text-align: center;
}*/

.event-feed .emoji {
  height: 1rem;
  margin: 0 .05em 0 .1em;
  min-height: 22px;
  min-width: 22px;
  object-fit: contain;
  vertical-align: -.4em;
  width: 1rem;
  padding-right: 4px;
}

.event-feed .event-link {
  color: #ccc;
  text-decoration: none;
}

.event-feed .event[data-event="OnVanity"] {
  border: 2px solid #fff;
}

.event-feed .event[data-event="OnPost"] {
  border: 2px solid #0a6894;
}

.event-feed .event[data-event="OnPost"] .message {
  color: #fff;
  font-weight: 400;
}

.event-feed .event[data-event="OnDig"] {
  border: 1px dotted gold;
}

.event-feed .event[data-event="OnDig"] .multiplier {
  color: gold;
  font-weight: bold;
}

.event-feed .event[data-event="OnDig"] .discovered {
  font-weight: bold;
}

.event-feed .event .playerAddress {
  font-size: 12px;
}

.event-feed .event .timestamp {
  font-size: 12px;
  color: #777;
  text-align: right;
}

.event-feed .event .playerName {
  color: #fff;
}

.investor-box table tr:first-of-type {
  font-weight: bold;
  text-align: center;
}

.investor-box table td {
  overflow: scroll;
  text-overflow: unset;
}

.info-box table td.address {
  font-size: 12px;
}

.small-buttons button {
  margin: 10px 0;
}

.treasure-finder svg {
  height: 60px;
  margin: auto;
  text-align: center;
  width: 60px;
}

.treasure-finder.active svg {
        -webkit-transform: rotate(80deg);
        transform: rotate(80deg);
}

.treasure-finder.active svg .meter-r {
        -webkit-animation-name: run-meter;
        animation-name: run-meter;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}

@-webkit-keyframes run-meter {
        0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }

        50% {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        }

        100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
}

@keyframes run-meter {
        0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }

        50% {
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        }

        100% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        }
}

